.carrossel__titulo {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--laranja);
    padding: 1em 0 .5em 0;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.descricao__avaliação {
    margin: 0.5em 0;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.descricao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    padding: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
    padding: 0.5em 0;
}

.botoes__item {
    margin: 0.5em 0.5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1.2em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px){
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 3em auto;
    }

    .botoes__ancora:hover {
        background: var(--azul-degrade);
    }

}

@media screen and (min-width: 1728px) {
    .container__swiper {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
     }

     .swiper-pagination {
        margin: 1em;
     }

     .swiper {
        width: 50%;
     }

     .carrossel__titulo,
     .descricao__titulo{
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }

     .swiper-scrollbar {
        display: none;
     }

     .descricao {
        margin-right: 2.2em;
     }

     .card {
        width: 50%;
        margin-left: 3em;
     }

}
